[Unit]
Description=my fastapi application
After=network.target

[Service]
User=prem
Group=prem
WorkingDirectory=/home/prem/app/src/
Environment="PATH=/home/prem/app/venv/bin"
EnvironmentFile=/home/prem/.env
ExecStart=/home/prem/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target